In [41]:
import pandas as pd
df_job = pd.read_csv('job_data_analyst_details.csv')
df_job

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\r\n3.2,"New York, NY","New York, NY",1961,Nonprofit Organization,Social Assistance,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\r\n\r\nProvides analytical and techni...,3.8,Visiting Nurse Service of New York\r\n3.8,"New York, NY","New York, NY",1893,Nonprofit Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\r\n3.4,"New York, NY","New York, NY",2003,Company - Private,Internet,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\r\nRemote:Yes\r\n...,4.1,Celerity\r\n4.1,"New York, NY","McLean, VA",2002,Subsidiary or Business Segment,IT Services,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\r\n\r\nFanDuel Group is a ...,3.9,FanDuel\r\n3.9,"New York, NY","New York, NY",2009,Company - Private,Sports & Recreation,$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\r\n2.5","Denver, CO","Alpharetta, GA",-1,Company - Private,Staffing & Outsourcing,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\r\nSenior Data Analyst (Corporate Au...,2.9,Arrow Electronics\r\n2.9,"Centennial, CO","Centennial, CO",1935,Company - Public,Wholesale,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\r\n\r\nResponsible for working cross-f...,3.1,Contingent Network Services\r\n3.1,"Centennial, CO","West Chester, OH",1984,Company - Private,Enterprise Software & Network Solutions,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\r\n\r\nYou bring your body, mind, heart a...",3.4,SCL Health\r\n3.4,"Broomfield, CO","Broomfield, CO",1864,Nonprofit Organization,Health Care Services & Hospitals,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

Soal 1 :
Antoni memiki cita-cita menjadi gamer, sehingga dia ingin bekerja di Industry = Video Games yang memiliki Rating perusahaan > 4.5.

Di mana lokasi perusahaan yang memenuhi kriteria Antoni?

In [73]:
df_job[(df_job['Industry'] == 'Video Games')
      & (df_job['Rating'] > 4.5)
      ]

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Revenue,Competitors,Easy Apply
539,539,Data Analyst,$55K-$103K (Glassdoor est.),About Us:\r\n\r\nPlayQ is a rapidly growing gl...,4.7,PlayQ\r\n4.7,"Santa Monica, CA","Santa Monica, CA",2007,Company - Private,Video Games,Unknown / Non-Applicable,-1,-1
681,681,Senior Data Analyst,$65K-$81K (Glassdoor est.),About Us:\r\n\r\nPlayQ is a rapidly growing gl...,4.7,PlayQ\r\n4.7,"Santa Monica, CA","Santa Monica, CA",2007,Company - Private,Video Games,Unknown / Non-Applicable,-1,-1

Soal 2 :
Pada perusahaan dengan Lokasi yang mengandung kata "Houston",
berapa rata-rata Rating di sana?

In [79]:
df_houston = df_job[(df_job['Location'].str.contains('Houston'))]
df_houston['Rating'].mean()

3.278082191780822

Soal 3 :
Dari perusahaan yang bergerak di Industry = Internet dan Founded > 2015,

Job TItle yang paling banyak lowongan pekerjaanya adalah?

In [92]:
df_job_title = df_job[(df_job['Industry'] == 'Internet')
      & (df_job['Founded'] > 2015)
      ]

df_job_title

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Revenue,Competitors,Easy Apply
207,207,"Principal Data Analyst, LATAM – Disney Streami...",$60K-$110K (Glassdoor est.),Job ID\r\n762918BR\r\n\r\nLocation\r\n\r\nNew ...,3.6,Disney Streaming Services\r\n3.6,"New York, NY","New York, NY",2018,Company - Private,Internet,Unknown / Non-Applicable,-1,-1
328,328,"Senior Analyst, Data Instrumentation & Quality...",$42K-$74K (Glassdoor est.),Job ID\r\n762540BR\r\n\r\nLocation\r\n\r\nNew ...,3.6,Disney Streaming Services\r\n3.6,"New York, NY","New York, NY",2018,Company - Private,Internet,Unknown / Non-Applicable,-1,-1
520,520,Survey Data Analyst,$55K-$103K (Glassdoor est.),Our leading Entertainment client is seeking a ...,5.0,First Professional Services\r\n5.0,"Los Angeles, CA","Piscataway, NJ",2018,Subsidiary or Business Segment,Internet,$1 to $5 million (USD),-1,-1
521,521,Senior Data Analyst,$55K-$103K (Glassdoor est.),Senior Data Analyst\r\nLocation/City: Any US l...,3.6,Steady\r\n3.6,"Los Angeles, CA","Atlanta, GA",2017,Company - Private,Internet,Unknown / Non-Applicable,-1,True
623,623,Senior Data Analyst - User Growth,$35K-$45K (Glassdoor est.),Senior Data Analyst - User Growth\r\nLos Angel...,3.8,TikTok\r\n3.8,"Los Angeles, CA","Los Angeles, CA",2016,Company - Private,Internet,Unknown / Non-Applicable,-1,-1
650,650,Senior Data Analyst,$42K-$66K (Glassdoor est.),Senior Data Analyst\r\nCulver CityR&DExperienc...,3.8,TikTok\r\n3.8,"Culver City, CA","Los Angeles, CA",2016,Company - Private,Internet,Unknown / Non-Applicable,-1,-1
714,714,Sr. Data Analyst — US Safety,$113K-$132K (Glassdoor est.),Sr. Data Analyst — US Safety\r\nLos AngelesOpe...,3.8,TikTok\r\n3.8,"Los Angeles, CA","Los Angeles, CA",2016,Company - Private,Internet,Unknown / Non-Applicable,-1,-1
1639,1639,Ad Integrity Data Analyst-ATX,$42K-$76K (Glassdoor est.),Ad Integrity Data Analyst-ATX\r\nAustinOperati...,3.8,TikTok\r\n3.8,"Austin, TX","Los Angeles, CA",2016,Company - Private,Internet,Unknown / Non-Applicable,-1,-1
1919,1919,Data Scientist/Analyst - Wilbur Labs,$99K-$178K (Glassdoor est.),About Wilbur Labs\r\nWilbur Labs is a startup ...,5.0,Wilbur Labs\r\n5.0,"San Francisco, CA","San Francisco, CA",2016,Company - Private,Internet,Unknown / Non-Applicable,-1,-1

In [95]:
df_job_title.groupby('Job Title').agg({'Job Title' : 'count'})

                                                    Job Title
Job Title
Ad Integrity Data Analyst-ATX                               1
Data Scientist/Analyst - Wilbur Labs                        1
Principal Data Analyst, LATAM – Disney Streamin...          1
Senior Analyst, Data Instrumentation & Quality ...          1
Senior Data Analyst                                         2
Senior Data Analyst - User Growth                           1
Sr. Data Analyst — US Safety                                1
Survey Data Analyst                                         1

Soal 4 :
df1 didefinisikan sebagai perusahaan yang Founded = 2018,

df2 didefinisikan sebagai perusahaan yang Founded = 1995.

Kemudian append kedua dataframe tersebut.

In [102]:
df1 = df_job[(df_job['Founded'] == 2018)]

df2 = df_job[(df_job['Founded'] == 1995)]

df_append = pd.concat((df1,df2))
df_append['Job Title'].count()

53

Soal 5 :
Pada perusahaan yang Founded > 2017 , Rating >= 3.5 dan Rating <= 4.5,

Jika dibuat kolom rating_baru yang bernilai Rating+0.5,

maka berapa rata-rata rating_baru tersebut?

In [117]:
df_job5 = df_job[(df_job['Founded'] > 2017)
      & (df_job['Rating'] >= 3.5)
      & (df_job['Rating'] <= 4.5)
      ]
df_job5

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Revenue,Competitors,Easy Apply
207,207,"Principal Data Analyst, LATAM – Disney Streami...",$60K-$110K (Glassdoor est.),Job ID\r\n762918BR\r\n\r\nLocation\r\n\r\nNew ...,3.6,Disney Streaming Services\r\n3.6,"New York, NY","New York, NY",2018,Company - Private,Internet,Unknown / Non-Applicable,-1,-1
328,328,"Senior Analyst, Data Instrumentation & Quality...",$42K-$74K (Glassdoor est.),Job ID\r\n762540BR\r\n\r\nLocation\r\n\r\nNew ...,3.6,Disney Streaming Services\r\n3.6,"New York, NY","New York, NY",2018,Company - Private,Internet,Unknown / Non-Applicable,-1,-1
428,428,Junior Data Analyst,$26K-$47K (Glassdoor est.),About Abnormal Security:\r\nAbnormal Security ...,4.1,Abnormal Security\r\n4.1,"Lehi, UT","San Francisco, CA",2018,Company - Private,Enterprise Software & Network Solutions,Unknown / Non-Applicable,-1,-1
592,592,Senior Data Analyst,$57K-$103K (Glassdoor est.),OVERVIEW OF THE COMPANYFox CorporationUnder th...,4.0,Fox Corporation\r\n4.0,"Los Angeles, CA","New York, NY",2019,Company - Public,TV Broadcast & Cable Networks,Unknown / Non-Applicable,-1,-1
1835,1835,Enterprise Data Office Analyst IV,$54K-$75K (Glassdoor est.),Specific information related to the position i...,3.5,Truist\r\n3.5,"Charlotte, NC","Charlotte, NC",2019,Company - Public,Investment Banking & Asset Management,Unknown / Non-Applicable,-1,-1

In [118]:
df_job5['Rating Plus'] = df_job5['Rating'] + 0.5
df_job5

/var/folders/_v/w4n5bq8d4ln32c93xcpqrnxc0000gn/T/ipykernel_10374/3846155925.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job5['Rating Plus'] = df_job5['Rating'] + 0.5

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Revenue,Competitors,Easy Apply,Rating Plus
207,207,"Principal Data Analyst, LATAM – Disney Streami...",$60K-$110K (Glassdoor est.),Job ID\r\n762918BR\r\n\r\nLocation\r\n\r\nNew ...,3.6,Disney Streaming Services\r\n3.6,"New York, NY","New York, NY",2018,Company - Private,Internet,Unknown / Non-Applicable,-1,-1,4.1
328,328,"Senior Analyst, Data Instrumentation & Quality...",$42K-$74K (Glassdoor est.),Job ID\r\n762540BR\r\n\r\nLocation\r\n\r\nNew ...,3.6,Disney Streaming Services\r\n3.6,"New York, NY","New York, NY",2018,Company - Private,Internet,Unknown / Non-Applicable,-1,-1,4.1
428,428,Junior Data Analyst,$26K-$47K (Glassdoor est.),About Abnormal Security:\r\nAbnormal Security ...,4.1,Abnormal Security\r\n4.1,"Lehi, UT","San Francisco, CA",2018,Company - Private,Enterprise Software & Network Solutions,Unknown / Non-Applicable,-1,-1,4.6
592,592,Senior Data Analyst,$57K-$103K (Glassdoor est.),OVERVIEW OF THE COMPANYFox CorporationUnder th...,4.0,Fox Corporation\r\n4.0,"Los Angeles, CA","New York, NY",2019,Company - Public,TV Broadcast & Cable Networks,Unknown / Non-Applicable,-1,-1,4.5
1835,1835,Enterprise Data Office Analyst IV,$54K-$75K (Glassdoor est.),Specific information related to the position i...,3.5,Truist\r\n3.5,"Charlotte, NC","Charlotte, NC",2019,Company - Public,Investment Banking & Asset Management,Unknown / Non-Applicable,-1,-1,4.0

In [119]:
df_ratplus = df_job5['Rating Plus'].mean()
df_ratplus

4.26

Soal 6 :
df1 didefinisikan semua jobs dengan kolom description mengandung kata attitude dan Rating >= 1
df2 didefinisikan semua jobs di New York, NY dan Rating >= 1
append kedua df tersebut, berapa mean dari Rating dari seluruh jobs yang tersedia

In [130]:
df_job
df1_6 = df_job[(df_job['Job Description'].str.contains('attitude'))
               & (df_job['Rating'] >= 1)
              ]

df2_6 = df_job[(df_job['Location'] == 'New York, NY')
              & (df_job['Rating'] >= 1)
              ]

df_append_6 = df1_6.append(df2_6,ignore_index=True)
df_rat_6 = df_append_6['Rating'].mean()
df_rat_6

/var/folders/_v/w4n5bq8d4ln32c93xcpqrnxc0000gn/T/ipykernel_10374/3518116129.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append_6 = df1_6.append(df2_6,ignore_index=True)

3.7101983002832877

Soal 7 :
Ada berapa total lowongan pekerjaan di Lokasi Lake Success, NY dan Los Angeles, CA yang mensyaratkan menguasai SQL

In [162]:

df_job_sql = df_job[df_job['Location'].isin(['Lake Success, NY','Los Angeles, CA'])]
df_job_sql['Job Description'].str.contains('SQL').count()

89

SyntaxError: invalid syntax (2665217267.py, line 1)